$fontcolorlight: white;
$fontcolordark: black;
$fontserif: "Crimson Pro", serif;
$fontsansserif: "Roboto", sans-serif;

$fontsm: 14px;
$fontmd: 18px;
$fontlg: 24px;
$fontxl: 32px;


$backgroundcolor: #efefef;

$themeprimarydark: #004c8c;
$themeprimary: #0277bd;
$themeprimarylight: #58a5f0;



$themesecondarydark: #8aacc8;
$themesecondary: #bbdefb;
$themesecondarylight: #eeffff;      


$themetertiarydark: #00b2cc;
$themetertiary: #00e5ff;
$themetertiarylight: #6effff;